
.wrapper {
	width: 85%;
	margin-left: 9%;
}

.project {
	color: grey;
	font-size: 26px;
	margin: 20px 0 0 0;
}

.button button {
	width: 16%;
	padding: 10px 10px;
	border-width: 0;
}
.button button a {
	text-decoration: none;
	color: grey;
	font-size: 15px;

}

.button button:first-child {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px; 
}

.button button:last-child {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}


.marketing {
	font-size: 20px;
	text-align: center;
	padding: 40px 70px 40px 50px;
	font-size: 27px;
}

.marketing button {
	color: white;
	background: green;
	padding: 20px 25px;
	border: none;
	border-radius: 7px;
}


.contend {
	padding: 20px;
}

.safari {
	display: inline-block;
	width: 30%;
}

.heading {
	vertical-align: top;
	display: inline-block;
	width: 30%;
	padding-left: 13px;
}

.contend button {

	background: #337AB7;
	border: none;
	color: white;
	border-radius: 7px;
	padding: 10px 10px;
}

.footer {
	color: grey;
	font-size: 16px;
	padding: 10px 20px;
}
